<%- include("header"); -%>
  <div class="box" id="heading">
    <h1><%=listTitle%></h1>
  </div>

  <div class="box">
    <!-- 2. For each array item, output a new <li> -->
    <% for (var i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>

    <%}%>
    <!-- 1. Get the input for array, post it through app.js, update array there.
  10. place it within "box" with class "item" -->
    <form class="item" action=" <%= route %> " method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit">+</button>
    </form>
  </div>
<%- include("footer"); -%>
